[Unit]
Description=Start the ZenitMC Docker manager with 40 bots
Wants=docker.service network-online.target
After=docker.service network-online.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
WorkingDirectory=/root/zenitmc
ExecStart=/root/zenitmc/docker-start.sh 40
Restart=on-failure
RestartSec=30s
